<p id="notice"><%= notice %></p>

<h1>Bubot Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bubot_blogs.each do |bubot_blog| %>
      <tr>
        <td><%= bubot_blog.title %></td>
        <td><%= bubot_blog.content %></td>
        <td><%= link_to 'Show', bubot_blog %></td>
        <td><%= link_to 'Edit', edit_bubot_blog_path(bubot_blog) %></td>
        <td><%= link_to 'Destroy', bubot_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bubot Blog', new_bubot_blog_path %>
